.sell__car {
  margin-top: 100px;
  padding: 0px 30px;
  padding-bottom: 50px;
}

.btn-success{
  margin-left:800px;
  margin-top:-40px;
}

.btn-danger{
  margin-left:8px ;
}

.btn-primary{
  margin-left:-25px ;
}


.btn-warning
{
  margin-top:10px ;
  margin-left:670px ;
}


.table-striped{
  margin-top: 30px;
}


